<h3>
	<span class="label label-default"> {{ title }} </span>
</h3>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td> 	
            	<div data-ng-repeat="question in questions">
  					<a href="#/questions/{{ question.id }}" class="list-group-item"> {{ question.question }}</a>		
				</div> 
			</td>
        </tr>
    </tbody>
</table>

<ul class="pager">
  	<li><a style="pointer-events: none; display: inline-block;" href="#/">Previous</a></li>
  	<li><a href="">Next</a></li>
</ul>

